* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed";
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.cards-container {
  max-width: 1400px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1.5rem;
}

.card {
  border-radius: 8px;
  padding: 2.5rem;
  box-shadow: 2.5rem 3.75rem 3rem rgba(0, 0, 0, 0.123);
}

.user-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img-container {
  width: 40px;
}

.img-container img {
  width: 100%;
  border-radius: 50%;
}

.card-1 {
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 20%;
  background-color: hsl(263, 55%, 52%);
  grid-column: 1/3;
}

.card-5 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.card-3 {
  grid-column: 1/2;
}

.card-4 {
  grid-column: 2/4;
}

.card-1 .name-occupation {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}

.role {
  font-size: 14px;
  opacity: 0.5;
}

.card-2 {
  background-color: hsl(217, 19%, 35%);
}

.card-2 .name-occupation {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}

.card-3,
.card-5 {
  background-color: hsl(0, 0%, 100%);
}

.card-3 .name {
  color: hsl(219, 29%, 14%);
  font-weight: 500;
}

.card-4 .name {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}

.card-4 .role {
  color: aliceblue;
}

.card-5 .name {
  color: hsl(219, 29%, 14%);
  font-weight: 500;
}

.card-4 {
  background-color: hsl(219, 29%, 14%);
}

h4 {
  font-size: 1.5rem;
  margin-block: 1rem;
  font-weight: 550;
}

.card-1,
.card-2,
.card-4 h4 {
  color: hsl(0, 1%, 86%);
}

.card-1 .qoutes {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
}

.card-2 .qoutes {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
}
.card-3 .qoutes {
  color: hsl(217, 19%, 35%);
}
.card-4 .qoutes {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
}
.card-5 .qoutes {
  color: hsl(217, 19%, 35%);
}

.card-3,
.card-5 h4 {
  color: hsl(217, 19%, 35%);
}

.qoutes {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}
