* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

header {
  text-align: center;
}

.title {
  margin-top: 2.2rem;
  font-size: 2.3rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

.sub-title {
  font-size: 2.3rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.header-desc {
  color: hsl(229, 6%, 66%);
  max-width: 540px;
  margin: 1rem auto;
  font-size: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  gap: 1.8rem;
}

.card-1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.card-2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.card-3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.card-4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.box-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}

.card-1,
.card-4 {
  align-self: center;
}

.cards {
  border-radius: 6px;
  box-shadow: rgba(144, 169, 194, 0.399) 0px 8px 24px;
  padding: 2rem;
  color: hsl(234, 12%, 34%);
}

.card-desc {
  font-size: 0.85rem;
  margin-top: 0.8rem;
  color: hsl(240, 3%, 71%);
}

.img-container {
  margin-top: 2rem;
  text-align: right;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 426px) {
  .title {
    font-size: 1.8rem;
  }

  .sub-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 376px) {
  .title {
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  .sub-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1.2rem;
  }

  .sub-title {
    font-size: 1.2rem;
  }

  .header-desc {
    font-size: 13px;
  }
}
